

<body>
  <div class="container">
    <h1>España</h1>
    <h2>Qué hacer si te contagias del norovirus, el virus estomacal que se está extendiendo en España
    </h2>

    <img 
      src="https://www.infobae.com/resizer/v2/ZZN6SWMYCZGQNLUZN6F4RBYGQE.jpeg?auth=3c04431bbcaf4f663926b6b00495cff61ae5c069dc143c0865fb3a2b681af693&smart=true&width=992&height=558&quality=85" 
       style="max-width:300px"
    >

    <p>
      Tras las celebraciones navideñas, a la combinación de los de gripe y resfriados se ha unido un nuevo agente: el norovirus. Este virus, que no es la primera vez que irrumpe en España, ya registró un brote en España en el año 2016.
      En esta ocasión, y según los datos del Sistema de Vigilancia Epidemiológica, por el momento las comunidades autónomas más afectadas son Madrid, Cataluña y Andalucía. Las residencias de ancianos, así como los hospitales y centros educativos, han sido tres grandes núcleos de contagio. Así, hay que resaltar que el norovirus es altamente contagioso y se transmite a través de alimentos, agua o superficies contaminadas, además del contacto cercano con personas infectadas.
    </p>
    

    <a href="/home">Volver al inicio</a>
  </div>
</body>