

<body>
  <div class="container">
    <h1>Suiza</h1>
    <h2>Las imágenes de la Familia Real griega en sus días de esquí, sol y 'glamour' en Suiza

    </h2>

    <img 
      src="https://www.hola.com/horizon/landscape/847d33c2b503-ph1mbr29122403.jpg?im=Resize=(1280),type=downsize" 
       style="max-width:300px"
    >
  
    <p>
      Dicen que siempre hay que regresar a donde uno fue feliz, y eso es lo que hacen cada año los príncipes Pablo y Marie-Chantal de Grecia. Ya sea solos o acompañados por prácticamente toda la Familia Real al completo, no hay Navidad en la que el matrimonio no disfrute de unos días esquiando en los Alpes suizos. Estas montañas se ha convertido en su retiro favorito desde que se prometieran allí —concretamente, en Gstaad—, hace más de un cuarto de siglo, y, cómo no, desde allí han despedido el 2024 rodeados de los suyos, con unos fabulosos días de sol y, por supuesto, derrochando complicidad y, sobre todo, altas dosis de glamour. 
    </p>
    

    <a href="/home">Volver al inicio</a>
  </div>
</body>