



<body>
  <div class="container">
    <h1>México</h1>
    <h2>El Gobierno de México anuncia Olinia, una planta de autos eléctricos con inversión pública</h2>

    <img 
      src="https://media.cnn.com/api/v1/images/stellar/prod/olinia-autos-electricos.JPG?q=w_1110,c_fill/f_webp" 
     style="max-width:300px"
    >

    <p>
      (CNN Español)— El Gobierno de la presidenta de México, Claudia Sheinabaum, anunció el proyecto Olinia, una armadora de vehículos eléctricos con inversión pública.
      Los autos están diseñados principalmente para la movilidad en zonas urbanas y se prevé que lleguen al mercado en 2030, antes de que termine este sexenio, aseguró Roberto Capuano, coordinador del proyecto, durante su presentación en la conferencia de prensa diaria de la mandataria.
      El proyecto, que también tendrá financiamiento privado con una inversión inicial de 25 millones de pesos (unos US$ 1.230.518), desarrollará tres modelos: uno de movilidad personal, uno de “movilidad de barrio” (parecido a un mototaxi) y uno para entregas de mercancía.
    </p>

    <a href="/home">Volver al inicio</a>
  </div>
</body>

