

<body>
  <div class="container">
    <h1>Francia</h1>
    <h2>Jean-Marie Le Pen, líder de la extrema derecha francesa, muere a los 96 años
    </h2>

    <img 
      src="https://static01.nyt.com/images/2025/01/08/espanol/00le_pen-01-print1-ES-copy1/00le_pen-01-superJumbo.jpg?quality=75&auto=webp" 
       style="max-width:300px"
    >
  
    <p>
      Jean-Marie Le Pen, fundador de la extrema derecha política moderna de Francia, quien hizo una carrera de medio siglo a partir de diatribas con racismo, antisemitismo y propaganda neonazi apenas disimulados, ha muerto. Tenía 96 años.

Su muerte fue confirmada en X por Jordan Bardella, actual presidente del partido fundado por Le Pen. En una declaración a la agencia de noticias Agence-France Presse, la familia de Le Pen dijo que había fallecido el martes en un hospital de Garches, al oeste de París.

En abril de 2024, cuando Le Pen estaba delicado de salud tras sufrir un segundo infarto en un año, un tribunal francés concedió a sus hijas la tutela legal, dándoles derecho a tomar decisiones en su nombre.
    </p>
    

    <a href="/home">Volver al inicio</a>
  </div>
</body>
