

<body>
  <div class="container">
    <h1>USA</h1>
    <h2>CNN verifica: Trump arremete con afirmaciones falsas sobre la FEMA y la política hídrica de California ante los incendios</h2>

    <img 
      src="https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-2192846806-20250109041409276-20250109200532281.jpg?c=16x9&q=h_653,w_1160,c_fill/f_webp" 
       style="max-width:300px"
    >

    <p>
      (Washington CNN) — Otro desastre natural, otra serie de afirmaciones falsas del presidente electo Donald Trump.
      Durante años, Trump ha plagado sus declaraciones sobre los incendios forestales de California y otros desastres con afirmaciones inexactas. 
      Lo hizo de nuevo el miércoles mientras los incendios forestales arrasaban el condado de Los Ángeles.
      He aquí una comprobación de los hechos.
    </p>
    <p>
      <b>Financiación de la FEMA</b><br>
    </p>
    <p>
      Aunque el Fondo de Ayuda para Desastres de FEMA se agotó en 2024 por una serie de grandes desastres, Biden firmó un proyecto de ley en diciembre que repuso dicho fondo. 
      “El saldo actual del Fondo de Ayuda para Desastres es de aproximadamente US$ 27.000 millones”, dijo la FEMA a CNN en un correo electrónico el miércoles.
      Esa suma puede resultar insuficiente para cubrir las necesidades creadas por cada desastre que tenga lugar este año, pero no es que “no haya dinero”.
    </p>

    <a href="/home">Volver al inicio</a>
  </div>
</body>
