ion-header {
  &.translucent {
    background: rgba(255, 255, 255, 0.8); 
    backdrop-filter: blur(10px); 
  }

  ion-toolbar {
    --background: #edfe2f; 
    --color: rgb(0, 0, 0); 

    ion-title {
      font-size: 20px;
      font-weight: bold;
      text-align: center; 
    }
  }
}

ion-content {
  &.fullscreen {
    background: #f4f4f4; 
  }

  ion-list {
    margin: 0;
    padding: 0;
    background: white; 

    ion-item {
      font-size: 16px;
      font-weight: 500;
      color: #333; 
      border-bottom: 1px solid #e0e0e0; 

      &:hover {
        background: #f0f0f0; 
      }

     
    }
  }
}

