<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Noticias Internacionales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Noticias</ion-title>
    </ion-toolbar>
  </ion-header>
  
    <ion-content>
      <ion-list>

        <ion-item routerLink="/pag1">
          <ion-avatar slot="start">
            <img src="https://media.istockphoto.com/id/1348463855/es/vector/icono-del-bot%C3%B3n-de-la-bandera-del-pa%C3%ADs-redondeado-de-m%C3%A9xico.jpg?s=612x612&w=0&k=20&c=bgYN_M6lLci6Z6kL6wTCP1IlSTNtZGNVuqzbJKcfCeg=" alt="México">
          </ion-avatar>
          México
        </ion-item>

        <ion-item routerLink="/pag2">
          <ion-avatar slot="start">
            <img src="https://www.shutterstock.com/image-vector/usa-button-flag-600nw-320334968.jpg" alt="USA">
          </ion-avatar>
          USA
        </ion-item>

        <ion-item routerLink="/pag3">
          <ion-avatar slot="start">
            <img src="https://media.istockphoto.com/id/542201976/es/foto/bot%C3%B3n-bandera-espa%C3%B1ola-bandera-de-espa%C3%B1a-insignia-ilustraci%C3%B3n-3d.jpg?s=612x612&w=0&k=20&c=QVB2AMPnY7sNgr7g6-C55UfIr6jjzKIsma2QwvUpgTI=" alt="España">
          </ion-avatar>
          España
        </ion-item>

        <ion-item routerLink="/pag4">
          <ion-avatar slot="start">
            <img src="https://static.vecteezy.com/system/resources/previews/013/783/181/non_2x/flag-of-france-in-the-form-of-a-round-button-with-a-light-glare-and-a-shadow-the-symbol-of-independence-day-a-souvenir-a-button-for-switching-the-language-on-the-site-an-icon-vector.jpg" alt="Francia">
          </ion-avatar>
          Francia
        </ion-item>

        <ion-item routerLink="/pag5">
          <ion-avatar slot="start">
            <img src="https://www.shutterstock.com/image-vector/flag-switzerland-circle-swiss-round-260nw-2315717359.jpg" alt="Suiza">
          </ion-avatar>
          Suiza
        </ion-item>
      </ion-list>
    </ion-content>
  
  
  
</ion-content>
